<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>帖子</title>
</head>
<body>
<table>
    <thead>
        <tr>
            <th><h2>帖子</h2></th>
        </tr>
    </thead>
    <tbody>
        {volist name="result" id="tie"}
	{if condition="$tie['pid'] eq 0"}
	<tr>
	<td>{$tie.title}</td>
	<td>{$tie.content}</td>
	<td>({$tie.postdate})</td>
	<td><a href="/ties/gentie/{$tie.id}">跟帖</a></td>
	</tr>
	{else /}
	<tr>
	<td>{$tie.title}</td>
	<td>{$tie.content}</td>
	<td>({$tie.postdate})</td>
	<td><a href="/ties/huifutie/{$tie.id}">引用回复</a></td>
	</tr>
	{/if}
	{/volist}
	<h3><a href="/tie/addtie">发帖</a></h3>
    </tbody>
</table>
	
</body>
</html>